body {
  font: 400 1em/1.38 Montserrat;
  background-image: url("img/5.jpg");  
}

/*Use comments below for rest of code, should be very similar!*/

/*Where the change temp button is positioned*/
#convert { /* convert button */
  position:absolute;  // absolutely positioned
  transition: .5s ease;
  top: 75px; /*How far from top*/
  left: 215px; /*How far from left*/
  background:none!important; /*background color of button, none in this case so it blends*/
  border:none; /*None again so it blends*/
  padding:0!important; /*None so it is no padded (had to explain... look it up)*/
  min-height: 59px; /*Minumum height*/
  font-size: 1.313em;
  font-weight: 400; /*How thick font is (think boldness)*/
  line-height: 1.38; /*Think of button in a label... how high the height of the "label" is*/
  text-transform: uppercase; /*Makes the input uppercase*/
  color: rgb(255, 255, 255); /*color of button*/
  cursor:pointer; /*cursor will turn to had and allow a click*/
}
/*button:hover{
  text-decoration:underline;
}*/

.info_bg p {
  margin-bottom: -.2em;
}

.climate_bg {
  position: absolute;
  top: 0;
  left: 297px;
  z-index: 6;
  width: 163px;
  height: 149px;
  border-top-right-radius: 10px; /*How tight to top right border the piece is*/
  background-color: rgb(255, 255, 255);
}

.weathericon {
  display: block;
  position: absolute;
  top: -5px;
  left: 1.226993865%;
  z-index: 5;
  width: 160px;
  height: auto;
  overflow: hidden;
}

input{ /*input box*/
  display: inline-block;
  float: left;
  border: 2px solid black;
  border-radius: 4px;
}


.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 460px;
  height: 208px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.dropicon {
  display: block;
  position: absolute;
  top: 9px;
  left: -3.9110429448%;
  z-index: 3;
  width: 41px;
  height: auto;
  overflow: hidden;
}

.not-available, .failed {
  position: absolute;
  top: 464px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 248px;
  min-height: 24px;
  margin: 0 auto;
  font: 0.625em/1.38 'Trebuchet MS';
  color: rgb(0, 0, 0);
}

.humidity {
  position: absolute;
  top: 19px;
  left: 29px;
  z-index: 2;
  width: 46px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

.info_bg {
  position: absolute;
  top: 149px;
  left: 297px;
  z-index: 4;
  width: 163px;
  height: 59px;
  border-bottom-right-radius: 10px;
  background-color: #1ab1ed;
}
/*Where the location is positioned*/
.location {
  position: absolute;
  top: 128px;
  left: 23px;
  z-index: 8;
  width: 270px;
  min-height: 59px;
  font-size: 1.313em;
  font-weight: 400;
  line-height: 1.38;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

/*Where the temp is positioned*/
.temperature {
  position: absolute;
  top: 38px;
  left: 30px;
  z-index: 7;
  width: 150px;
  min-height: 28px;
  font-size: 4.00em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.day_high{
  position: absolute;
  top: 40px;
  left: 220px;
  z-index: 7;
  width: 270px;
  min-height: .78px;
  font-size: .513em;
  font-weight: 400;
  line-height: .78;
  /*text-transform: uppercase;*/
  color: rgb(255, 255, 255);
}

.day_low{
  position: absolute;
  top: 60px;
  left: 220px;
  z-index: 7;
  width: 270px;
  min-height: .78px;
  font-size: .513em;
  font-weight: 400;
  line-height: .78;
  /*text-transform: uppercase;*/
  color: rgb(255, 255, 255);
}
/*Where the last updated is positioned*/
.updated{
  position: absolute;
  top: 185px;
  left: 30px;
  width: 210px;
  min-height: 29px;
  font-size: 0.5em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

/*Where the wind icon is positioned*/
.windicon {
  display: block;
  position: absolute;
  top: 5px;
  left: 43.1173312883%;
  z-index: 1;
  width: 50px;
  height: auto;
  overflow: hidden;
}

/*Where windspeed is located*/
.windspeed {
  position: absolute;
  top: 9px;
  left: 109px;
  width: 50px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

/*How far from bottom that windspeed is displayed*/
.windspeed p { 
  margin-bottom: -.2em;
}