<html>
  <head>
    <title>Events Screen</title>
    <link rel="stylesheet" href="css/standardize.css"> <!-- CSS Sheet used for styling -->
  	<link rel="stylesheet" href="css/button.css"> <!-- CSS Sheet used for styling -->
  </head>
  <body>
 <!--  <button id = "createEvent" onclick="window.location.href = 'Event.html'">Create Event!</button> -->
 	<button id = "createEvent" onclick="EventPrefs()"> Create Event </button>
  <script src="button.js"></script> <!-- Javasctipt code used -->
  </body>
</html>
