<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/wall_style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<body class="wall_body">
    <nav style="background-color: #e51837;"class="navbar navbar-default navbar-fixed-top">        
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
                </button>          
             <a style="color:white;" href="#" class="navbar-brand">PalsOnCampus</a> 
            </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <form class="navbar-form">
                    <div class="input-group">                    
                        <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                    </div>
                    <a style="color:white;" href="#">Weather Widget</a>          
                    </form>                        
                </li>
          </ul>  
      </div>   
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="left_bar" class="col-md-4 text-center">
                <img id="user" src="/static/img/user.png" class="img-thumbnail" alt="Cinque Terre" width="164" height="100"> 
                <div style="margin-top:8%;" id="user_name">
                    <h4>{{ firstName }}</h4>
		    
                </div>
                
                <div style="margin-top:10%; width:150px;" class="btn-group-vertical">
                    <button id="profile_button" type="button" class="btn">Profile</button>
                    <br>
                    <button id="events_button" type="button" class="btn">Events</button> 
                    <br>
                    <button id="groups_button" type="button" class="btn">Groups</button> 
                    <br>
                    <button id="friends_button" type="button" class="btn">Friends</button>
                    <br>
                    <button id="friends_button" type="button" class="btn" onclick="location.href='/logout'">Log Out</button> 
                </div>
                
                
            </div>
            <div id="main_view" class="media col-md-8">
                <div class="form-group">
                    <form action='/new_post' method='post'> <!--EXTRA FORM-->
			{{form.hidden_tag()}}
                        <label for="post">Create a Post:</label>
                        <textarea name="comment_data" placeholder="what are you doing right now?"class="form-control" rows="5" id="post">
                        </textarea>
                        <ul>
                            <li><a href="#" data-toggle="tooltip" title="Picture">
                                    <span style="color:black;"class="glyphicon glyphicon-picture"></span>
                                </a>
                            </li>
                            <li>2</li>
                            
                            <li>3</li>
                            <li>4</li>
                            <button id="post_button" type="submit" class="btn btn-success green">Post</button>  
                        </ul>                          
                      
                        
                    </form>
                    
                </div>
                
                <div id="post_view">
                    <div class="media-left">
                        <img src="/static/img/user_icon.png" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button type="button" data-toggle="tooltip" title="Thumbs Up" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-up"></span> 
                        </button>
                        <button id="comment_button" type="button" data-toggle="tooltip" title="Comment" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-comment"></span> 
                        </button>
                        <button type="button" data-toggle="tooltip" title="Share" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-share"></span> 
                        </button>
                    </div>
                    <div id="right" class="media-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">          
                                <li>
                                    <button type="button" data-toggle="tooltip" title="Edit" class="btn btn-default btn-sm">
                                      <span class="glyphicon glyphicon-edit"></span> 
                                    </button>                                
      			            <br>                          
                                    <button type="button" data-toggle="tooltip" title="Delete" class="btn btn-default btn-sm">
                                      <span class="glyphicon glyphicon-trash"></span> 
                                    </button>                                
                                </li>                                
                            </ul>
                        </div>                    
                    </div>
                </div>
                <div id="comment_box" class="col-md-offset-1" style="display:none;">
                    <div class="media-left">
                        <img src="/static/img/user_icon.png" class="media-object" style="width:60px">
                    </div>                    
                    <div class="media-body">
                        <h5 class="media-heading">Name</h5>
                        <textarea placeholder="Reply"class="form-control" rows="2" id="post"></textarea>
                        <button id="comment_button1" type="submit" class="btn btn-success green">Post</button>                          
                    </div>
                </div>
            </div>
        </div>  
    </div>    
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
        $(document).ready(function(){
           $("#comment_button").click(function(){
              $("#comment_box").toggle(); 
           }); 
        }); 
    </script>     
</body>
</html>
